@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of
  * content. Table of content is use display the overall tree structure of your
  * Layout.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following color code and add your own as this is just and
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
  -------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following typography and add your own as this is just and
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
   }

   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure,
   footer, header, hgroup, menu, nav, section {
    display: block;
   }

   /* Force scrollbar */
   html { overflow-y: scroll; }

   /* Align radios and text inputs with their label */

   input[type='radio'] { vertical-align: text-bottom; }

   /* Hand cursor on clickable input elements */
   label,
   input[type='button'],
   input[type='submit'],
   button {
    cursor: pointer;
   }

   strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
   }

   em { font-style: italic; }

   img {
    border: 0;
    vertical-align: middle;
   }

   sub,
   sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
   }

   sup { top: -.7em; }

   sub { bottom: -.25em; }

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

 .futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
 }

 /* ======= Your styling goes below ======= */
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* HEADER */
.offer {
  width: 100%;
  background-color: #211D22;
  text-align: center;
  color: #BCB7BC;
  font-family: sans-serif;
  font-size: 11px;
  padding: 6px 0;
  letter-spacing: 1px;
  word-spacing: 2px;
}
.offer a{
  color: #BCB7BC;
}

header .wrapper {
  margin: 0 auto;
  width: 94%;
  padding: 12px 0;
  background-color: #FFFDFF;
}

header .header-left {
  display: inline-block;
  width: 25%;
}

header .header-left a {
  color: #2C282B;
  font-size: 20px;
}

nav {
  display: inline-block;
  width: 50%;
  margin-left: -5px;
  text-align: center;
}

nav li {
  display: inline-block;
  padding: 0 24px;
}

nav li a{
  color: #332F34;
  font-size: 26px;
  font-weight: 800;
  font-family: sans-serif;
}


header .header-right {
  display: inline-block;
  width: 25%;
  margin-left: -5px;
  text-align: right;
}

header .header-right li {
  /* text-align: right; */
  display: inline-block;
  padding: 10px;
  /* font-family: sans-serif; */
}

header .header-right a {
  color: #332F34;
  font-size: 18px;
  /* font-weight: 500; */
}
/* BANNER */
.banner {
  margin-bottom: 20px;
  position: relative;
}

.banner .slider-image img {
  position: relative;
}
.banner .slider-image h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #fcfafb;
  font-size: 39px;
  font-weight: 800;
  letter-spacing: 1px;
  word-spacing: 1px;
}
.banner .slider-icon {
  position: absolute;
  bottom: 7px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner .slider-icon li {
  display: inline-block;
  text-align: center;
  padding: 0 4px;
  font-size: 18px;
}
.banner .slider-icon li a {
  color: #a5a0a6;
  border-radius: 100%;
  border-color: #EAE4EA;
}

.banner .slider-icon li:first-child a{
  background: #eae4eb;  
  border-radius: 100%;
}
/* WARDROBE */
.wardrobe {
  background-color: #FFFDFF;
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 75px;
}

.wardrobe .wrapper {
  margin: 0 auto;
  width: 94%;
}

.wardrobe li {
  width: 25%;
  display: inline-block;
  margin-left: -5px;
  /* margin-bottom: 60px; */
  padding: 40px 0;
  box-sizing: border-box;
  vertical-align: top;
}
.wardrobe h3 {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #2E2A2E;
  padding-top: 70px;
}

.wardrobe span {
  display: block;
  font-size: 14px;
  letter-spacing: 2px;
  color: #C0BEC1;
}

.wardrobe span:last-child {
  font-size: 10px;
}
/* DEALS  */
.deals {
  background-color: #FFFDFF;
  text-align: center;
  font-family: sans-serif;
  margin-bottom: 50px;
}

.deals .wrapper {
  margin: 0 auto;
  width: 94%;
}

.deals .deal {
  display: inline-block;
  width: 50%;
  margin-left: -5px;
}
.deals .deal h3 {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  color:#454346;
  padding-top: 16px;
}
/* PROMOTION */
.promotion {
  margin-bottom: 80px;
}
.promotion video {
  width: 100%;
  height: 553px;
}

/* FOOTER */
footer {
  font-family: sans-serif;
  margin-bottom: 7px;
}

footer .wrapper {
  margin: 0 auto;
  width: 94%;
}

footer .main-footer {
  text-align: center;
  clear: both;
  padding-bottom: 50px;
}

footer .faq {
  display: inline-block;
}

footer .faq {
  margin-left: 315px;
}

footer .faq li {
  display: inline-block;
  padding-right: 15px;
}

footer .faq li a {
  color: #242226;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1px;
}

footer .social-links {
  display: inline-block;
  float: right;
}

footer .social-links li {
  display: inline-block;
}

footer .social-links a {
  color: #1c181d;
  font-size: 20px;
  padding-left: 17px;
}

footer .policy {
  text-align: center;
  padding: 46px 0;
}

footer .policy li {
  display: inline-block;
  padding: 0 12px;
}

footer .policy li a {
  color: #9a989d;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
}
